:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  padding: 0;
  margin: 0;
}

.Navbar {
  display: flex;
  background-color: #f8bd7f;
  height: 100px;
  color: white;
  font-size: 17px;
  text-align: center;
  line-height: 90px;
  height: 90px;
  justify-content: center;
}

.Subnav {
  height: 50px;
  line-height: 50px;
  background-color: black;
}

.Subnav,
ul {
  display: flex;
}

.Subnav,
li {
  list-style-type: none;
  justify-content: center;
  text-align: center;
}

.List-text,
a {
 
  text-decoration: none;
  color: #ffffff;
  margin-left: 5px;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
/* Temporary */
a:hover {
  box-shadow: inset 100px 0 0 0 #e87f00;
  color: white;
}

.Search-btn {
  font-size: 17px;
  cursor: pointer;
}
